@use "../setting/setting";
.c-section{
  padding: 40px 0;
}

.c-section + .c-section{
  padding-top: 0;
}

.c-section__heading{
  h2{
    position: relative;
    padding-top: 16px;
    font-size: 20px;

  span{
    color: setting.$color-main;
  }
  }  
}

@media (min-width: 768px){
  .c-section__heading{
    h2{
      font-size: 28px;
    }
  }
}

@media (min-width: 1024px){
  .c-section{
    padding: 64px 0;
  }
}